# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
.env

# Database
*.db

# Foundry
contracts/out/
contracts/cache/
contracts/lib/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Node
node_modules/

# Deployment
deployments.json
broadcast/
